<div class="toast toast-top toast-end z-50" (click)="onClose()">
  <div role="alert" class="alert alert-error shadow-2xl animate-slideIn">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <div class="flex-1">
      <span class="font-semibold">{{ messageError() }}</span>
    </div>
  </div>

</div>
